@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Didot Italic';
  src: url("./fonts/Didot-Italic-02.ttf");
}

@font-face {
  font-family: 'Avenir Medium Oblique';
  src: url("./fonts/Avenir-MediumOblique-10.ttf");
}

@font-face {
  font-family: 'Avenir Black Oblique';
  src: url("./fonts/Avenir-BlackOblique-04.ttf");
}



html{
  height: 100%;
}

h1,h2,h3,h4, h5,h6,p,a,button,span,div{
	font-family: 'Avenir Medium Oblique', sans-serif;
  letter-spacing: .50px;
}

.header-font{
	font-family: 'Didot Italic', serif !important;
  font-weight: 600;
}

.avenir-black{
  font-family: 'Avenir Black Oblique', sans-serif;
}

.text-pink{
  color: #eec6c3;
}

.bg-pink{
  background-color: #eec6c3;
}

.border-pink{
  border-color: #eec6c3 !important;
}

.text-black{
  color: #231d1f;
}

.bg-black{
  background-color: #231d1f;
}

.border-black{
  border-color: #231d1f !important;
}

.bg-grey{
  background-color: #ededed;
}

.hoverpointer:hover{
	cursor: pointer;
}

s, .pesosign::before{
	content: '₱';
	text-decoration: none;
	font-family: monospace;
}

.text-justify{
  text-align: justify;
}

.thumb-sm{
  max-width: 50px;
  width: 100%;
  height: auto;
}
