@font-face {
  font-family: 'Didot Italic';
  src: url("./fonts/Didot-Italic-02.ttf");
}

@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Avenir Medium Oblique';
  src: url("./fonts/Avenir-MediumOblique-10.ttf");
}

@font-face {
  font-family: 'Avenir Black Oblique';
  src: url("./fonts/Avenir-BlackOblique-04.ttf");
}


@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html{
  height: 100%;
}

*{
  font-family: 'Lato', sans-serif;
}


a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: black;
  cursor: pointer;
}


.font-didot{
	font-family: 'Didot Italic', serif !important;
  font-weight: 600;
}

.font-mono{
  font-family: monospace;
}

.text-pink{
  color: #f3c0c0;
}

.text-magenta{
  color: #9d404f;
}

.bg-pink{
  background-color: #f3c0c0;
}

.hover-bg-pink:hover{
  background-color: #f3c0c0
}

.hover-bold:hover{
  font-weight: 600;
}

.border-pink{
  border-color: #f3c0c0 !important;
}

.text-black{
  color: #231d1f;
}

.bg-black{
  background-color: #231d1f;
}

.border-black{
  border-color: #231d1f !important;
}

.bg-grey{
  background-color: #ededed;
}

.bg-bbblue{
  background-color: #c5c3d6;
}

.hoverpointer:hover{
	cursor: pointer;
}

.hoverbg-pink:hover{
  background-color: #f3c0c0
}

s, .pesosign::before{
	content: '₱';
	text-decoration: none;
	font-family: monospace;
}

.text-just{
  text-align: justify;
}

.thumb-sm{
  max-width: 50px;
  width: 100%;
  height: auto;
}

.hovershadow:hover{
  box-shadow: 0 .5rem 1rem lightgrey
}

.fw-07{
  font-weight: 70;
}

.fw-1{
  font-weight: 100;
}

.fw-2{
  font-weight: 200;
}

.fw-3{
  font-weight: 300;
}

.fw-4{
  font-weight: 400;
}

.fw-5{
  font-weight: 500;
}

.fw-6{
  font-weight: 600;
}

.fw-7{
  font-weight: 700;
}

.fw-8{
  font-weight: 800;
}

.fw-9{
  font-weight: 900;
}

.bg-pink2{
  background-color: #fff0ed;
}

.bg-beige{
  background-color: #dbd8ca;
}

.bg-babyblue{
  background-color: #d0e7f6;
}

.bgpic-cover{
  background-size: cover;
  background-repeat: no-repeat;
}

.bgpic-contain{
  background-size: contain;
  background-repeat: no-repeat;
}

.bgpic-start {
  background-position: left;
}

.bgpic-start-top{
 background-position: left top;
}

.bgpic-start-bottom{
  background-position: left bottom;
}

.bgpic-end{
  background-position: right;
}

.bgpic-end-top{
  background-position: right top;
}

.bgpic-end-bottom{
  background-position: right bottom;
}

.bgpic-center{
  background-position: center;
}

.bgpic-center-top{
  background-position: top;
}

.bgpic-center-bottom{
  background-position: bottom;
}

.rounded-5{
  border-radius: .5rem
}

.fs-5-5{
  font-size: 1.175rem
}

.fs-7{
  font-size: .875rem
}
